      @import url(http://fonts.googleapis.com/css?family=Arial%20Narrow:400,700,400italic,700italic);
      body {
        background-color: #e4e7ea;
        font-family: 'Arial Narrow';
        font-style: normal;
        font-weight: 400;
      }

      .container {
        background-color: #fff;
      }

      .wine-color-bg {
        background-color: #8f1e1c;
      }

      .blue-color-bg {
        background-color: #2a3d5c;
      }

      .font-white {
        color: #fff;
      }

      .font-white-bold {
        color: #fff;
        font-weight: 700;
        text-align: right;
      }

      .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }

      .pull-right {
        float: right !important;
      }

      .pull-left {
        float: left !important;
      }

      .icons-footer {
        padding-left: 20px;
        padding-right: 20px;
      }

      .icons-footer>img {
        margin-right: 6px;
        margin-left: 4px;
      }

      .font-footer {
        color: #fff;
        font-size: 14px;
        font-weight: 700px;
        line-height: 28px;
      }

      figure.detektei {
        background-attachment: inherit;
        -moz-background-size: cover;
        /* Firefox 3.6 */
        background-position: center center;
        /* Internet Explorer 7/8 */
        background-repeat: no-repeat;
        height: auto;
        text-align: center;
      }

      #detektei {
        max-width: 90%;
        height: auto;
      }

      #container-detektei {
        max-width: 100%;
        height: auto;
        padding-top: 0px;
      }

      .row-content {
        margin-left: -3px;
        margin-right: -8px;
      }

      .bigger-text {
        font-family: 'Arial Narrow';
        font-size: 60px;
        color: #000;
        font-weight: 700;
        text-align: center;
      }

      .tittle-slider-caption {
        font-family: 'Arial Narrow';
        font-size: 48px;
        color: #fff;
        text-align: left;
        margin: 5px;
      }

      .text-slider-caption {
        font-family: 'Arial Narrow';
        font-size: 18px;
        color: #cbcdcc;
        font-weight: 700;
        text-align: left;
        margin: 5px;
      }

      .tittle-box {
        font-family: 'Arial Narrow';
        font-size: 24px;
        color: #000;
        font-weight: 700;
        text-align: left;
        padding: 5px;
      }

      .text-box {
        font-family: 'Arial Narrow';
        font-size: 12px;
        color: #000;
        text-align: justify;
        padding: 5px;
      }

      .bg-dark-gray {
        background-color: #cbcdcc;
      }

      .bg-light-gray {
        background-color: #eceded;
      }

      #circulo {
        font-family: 'Arial Narrow';
        height: 40px;
        width: 100px;
        text-align: center;
        font-size: 18px;
        vertical-align: middle;
        border-radius: 50%;
        background: #8f1e1c;
        color: white;
        border-color: white;
        border-width: medium;
        border-style: solid;
        line-height: 30px;

      }

      .puzzle {
        width: 100%;
        height: 100%;
      }


      .sidebar {
        background-color: #d7e0ef;
        padding: 1px;
        display: block;
        float: left;
        align-content: center;
        width: 100%;
        margin: auto;
      }
      
      .sidebart {
        background-color: #d7e0ef;
      }

      .content-sidebar {
        background-color: #eceded;
        height: 100%;
        width: 100%;
        padding: 10px;
        margin-left: 7px;
      }

      .tittle-sidebar {
        font-family: 'Arial Narrow';
        font-size: 18px;
        color: white;
        margin: auto;
      }

      .tittle-mobile-sidebar{
        font-family: 'Arial Narrow';
        font-size: 24px;
        color: white;
        padding: 5px;
       }

       .tittle-mobile {
         font-family: 'Arial Narrow';
         font-size: 18px;
         color: black;
         padding: 5px;
         text-align: left;
         font-weight: 700;
       }

       .text-mobile {
         font-family: 'Arial Narrow';
         font-size: 12px;
         color: black;
         padding: 5px;
         text-align: justify;
       }

       .tittle-black-sidebar{
         font-family: 'Arial Narrow';
         font-size: 24px;
         color: black;
         padding: 5px;
        }

      .text-sidebar {
        font-family: 'Arial Narrow';
        font-size: 12px;
        color: white;
        margin: auto;
      }

      .alinear-derecha {
        text-align: right;
      }
      
      .alinear-center {
        text-align: center;
      }

      .text-sidebar-bottom {
        color: black;
        margin: auto;
        font-size: 14px;
        line-height: 100%;
        font-weight: 700;
        padding: 5px;
        text-align: center;
        padding-top: 5%;
      }

      .tablasidebar {
        background-color: white;
      }

      .banner {
        width: 100%;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
      }

      .content-slider1 {
        width: 100%;
        background-color: #eceded;
        margin-left: -3px;
      }

      .content-slider1-pages {
        width: 100%;
        height: 100%;
        background-color: white;
      }

      .slider1 {
        width: 101%;
      }

      .banner-slider {
        width: 100%;
        height: 100%;
      }

      .slider-little {
        width: 100%;
        height: 35%;
        background-color: rgb(44, 131, 194);
      }

      .banner-slider {
        width: 100%;
        height: 100%;
      }

      .slider-footer1 {
        width: 100%;
        height: 62%;
        background-color: #0B3D60;
      }

      .banner-slider-footer {
        width: 100%;
        height: 0;
        background-color: #ECECEC;
      }

      .fila-centro-blanco {
        width: 100%;
        height: 3%;
        background-color: white;
      }

      .tabla-slider {
        table-layout: fixed;
        width: 15%;
        height: 250px;
      }

      .tabla-slider-centro {
        table-layout: fixed;
        width: 35%;
        font-size: 12px;
      }

      .fila-centro {
        width: 100%;
        height: 30%;
      }

      .input-formulario {
        padding: 5px;
        margin: auto;
        width: 100%;
        background-color: #CCCCCC;
        border-radius: 4px;
        border-style: solid;
        border-color: white;

      }

      .input-formulario2 {
        padding: 5px;
        margin: auto;
        width: 80%;
        background-color: #CCCCCC;
        border-radius: 4px;
        border-style: solid;
        border-color: white;
      }

      @media (max-width: 576px) {
        .col-sm {
          -ms-flex-preferred-size: 0;
          flex-basis: 0;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          max-width: 100%;
        }
        .col-sm-auto {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: auto;
          max-width: none;
        }
        .col-sm-1 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
          max-width: 8.333333%;
        }
        .col-sm-2 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
          max-width: 16.666667%;
        }
        .col-sm-3 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
        }
        .col-sm-4 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
        }
        .col-sm-5 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
          max-width: 41.666667%;
        }
        .col-sm-6 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
        }
        .col-sm-7 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
          max-width: 58.333333%;
        }
        .col-sm-8 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
          max-width: 66.666667%;
        }
        .col-sm-9 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 75%;
          flex: 0 0 75%;
          max-width: 75%;
        }
        .col-sm-10 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
          max-width: 83.333333%;
        }
        .col-sm-11 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
          max-width: 91.666667%;
        }
        .col-sm-12 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
        }
        .order-sm-first {
          -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
          order: -1;
        }
        .order-sm-1 {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1;
        }
        .order-sm-2 {
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2;
        }
        .order-sm-3 {
          -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
          order: 3;
        }
        .order-sm-4 {
          -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
          order: 4;
        }
        .order-sm-5 {
          -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
          order: 5;
        }
        .order-sm-6 {
          -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
          order: 6;
        }
        .order-sm-7 {
          -webkit-box-ordinal-group: 8;
          -ms-flex-order: 7;
          order: 7;
        }
        .order-sm-8 {
          -webkit-box-ordinal-group: 9;
          -ms-flex-order: 8;
          order: 8;
        }
        .order-sm-9 {
          -webkit-box-ordinal-group: 10;
          -ms-flex-order: 9;
          order: 9;
        }
        .order-sm-10 {
          -webkit-box-ordinal-group: 11;
          -ms-flex-order: 10;
          order: 10;
        }
        .order-sm-11 {
          -webkit-box-ordinal-group: 12;
          -ms-flex-order: 11;
          order: 11;
        }
        .order-sm-12 {
          -webkit-box-ordinal-group: 13;
          -ms-flex-order: 12;
          order: 12;
        }
        .offset-sm-0 {
          margin-left: 0;
        }
        .offset-sm-1 {
          margin-left: 8.333333%;
        }
        .offset-sm-2 {
          margin-left: 16.666667%;
        }
        .offset-sm-3 {
          margin-left: 25%;
        }
        .offset-sm-4 {
          margin-left: 33.333333%;
        }
        .offset-sm-5 {
          margin-left: 41.666667%;
        }
        .offset-sm-6 {
          margin-left: 50%;
        }
        .offset-sm-7 {
          margin-left: 58.333333%;
        }
        .offset-sm-8 {
          margin-left: 66.666667%;
        }
        .offset-sm-9 {
          margin-left: 75%;
        }
        .offset-sm-10 {
          margin-left: 83.333333%;
        }
        .offset-sm-11 {
          margin-left: 91.666667%;
        }
      }

      @media (max-width: 576px) {
        #web {
          display: none;
        }
        #mobile {
          display: block;
        }
      }

      @media (min-width: 576px) {
        #web {
          display: none;
        }
        #mobile {
          display: block;
        }
      }

      @media (min-width: 768px) {
        #web {
          display: block;
        }
        #mobile {
          display: none;
        }
      }

      @media (min-width: 992px) {
        #web {
          display: block;
        }
        #mobile {
          display: none;
        }
      }

      @media (min-width: 1200px) {
        #web {
          display: block;
        }
        #mobile {
          display: none;
        }
      }

      .table-pages{

        font-size: 13px;

      }
      .titulos-pages{
        font-size: 22px;
        
      }

      .menu-privat{
        background-color: #8f1e1c;
        width: 100%;
        height: 250px;
        float: left;
        margin-top: 40px;
        margin-top: 40px;
        color:white;
        line-height: 15px;


      }
      .boton-wirscraf{
        background-color:  #2a3d5c;
        width: 100%;
        height: 55px;
        float: left;
        margin-top: 10px;
        margin-top: 10px;
        color: white;
        text-align: center;
        vertical-align:middle;
        justify-content: center;
        font-size: 40px;

      }

      .videogr{
        background-color: #CCCCCC;
        width: 100%;
        height: 55px;
        float: left;
        margin-top: 10px;
        margin-top: 10px;
        color:black;
        text-align: center;
        vertical-align:middle;
        justify-content: center;
        
        font-size: 33px;

      }
